<div class="dash_board">
    <div class="container-fluid">
        <div class="row card_main_block">
            <div class="col-md-3 col-sm-2">
                <mat-card class="card_block">
                    <div class="row">
                        <div class="col-4">
                            <div class="img_block">
                                <img src="../../../assets/imges/icons/school.svg" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <mat-card-title>500</mat-card-title>
                        </div>
                    </div>
                    <div class="content_block">
                        <mat-card-content>Total Schools</mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3 col-sm-2">
                <mat-card class="card_block" style="background: #fd7f18">
                    <div class="row">
                        <div class="col-4">
                            <div class="img_block">
                                <img src="../../../assets/imges/icons/student.svg" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <mat-card-title>5,00,000</mat-card-title>
                        </div>
                    </div>
                    <div class="content_block">
                        <mat-card-content>Total Students</mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3 col-sm-2">
                <mat-card class="card_block" style="background: #008e46">
                    <div class="row">
                        <div class="col-4">
                            <div class="img_block">
                                <img src="../../../assets/imges/icons/teacher.svg" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <mat-card-title>1,00,000</mat-card-title>
                        </div>
                    </div>
                    <div class="content_block">
                        <mat-card-content>Total Teachers</mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3 col-sm-2">
                <mat-card class="card_block" style="background: #9575cd">
                    <div class="row">
                        <div class="col-4">
                            <div class="img_block">
                                <img src="../../../assets/imges/icons/employee.svg" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <mat-card-title>50000</mat-card-title>
                        </div>
                    </div>
                    <div class="content_block">
                        <mat-card-content>Total Employess</mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <mat-card>
                    <div class="tabs_block">
                        <mat-tab-group>
                            <mat-tab label="Attendence Overview">
                                <canvas id="attendanceChart" #attendanceChart></canvas>
                            </mat-tab>
                            <mat-tab label="Results">
                                <canvas id="gamesChart" #gamesChart></canvas>
                            </mat-tab>
                            <mat-tab label="Games">
                                <canvas id="resultsChart" #resultsChart></canvas>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>