@import '~src/fonts.scss';

.sidenav-container {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    color: #0266b4;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    font-size: 18px;

    img {
        height: 40px;
    }
}

.sidenav {
    width: 200px;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    background: #ffffff;
    border: none;
}

.sidenav .mat-toolbar {
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.anchor_link {
    a {
        color: #0266b4;
        font-family: 'Raleway', sans-serif;
        line-height: 20px;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;

        img {
            height: auto;
            width: 20px;
            margin-right: 10px;
        }
    }

    .active {
        color: #ff3366 !important;
    }
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #FEFEFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

.content_container {
    background: #f0f1f3;
}

.header_cont {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #FEFEFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);

    button {
        outline: none;
        color: #ff3366;
    }

    .input_block {

        //   margin-left: 35px;
        span {
            position: absolute;
            padding: 7px 5px 0 15px;

            i {
                font-size: 22px;
                color: #545557a8;
            }
        }

        input {
            width: 350px;
            background: #F4F5F7;
            border: 1px solid #dbdee2;
            border-radius: 10px;
            padding-left: 40px;
            outline: none;
            color: #8a8b8ea8;
            font-size: 15px;
            font-family: 'Quicksand', sans-serif;
        }
    }

    .notify_block {
        display: flex;
        margin-left: auto !important;
        padding-right: 25px;
        justify-content: space-between;

        .notify_img,
        .email_img {
            img {
                height: 25px;
                cursor: pointer;
                padding-left: 25px;
                align-self: center;
            }
        }

        .user_field {
            padding: 0 22px;
            display: flex;
            align-items: center;
            align-self: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 4px;

            .user_msg,
            .user_name {
                transition: all 0.3s;
                color: #959cb6;
                align-self: center;
                padding: 0 0.55rem 0 0;
                font-weight: 500;
                font-size: 0.9rem;
                font-family: $main_font;
            }

            .user_name {
                font-size: 1rem;
                color: #6c7293;
            }

            img {
                background: #0266b4;
                border-radius: 60%;
                height: 25px;
                width: 25px;
            }
        }
    }
}

.signout_menu {
    display: flex;
    flex-direction: row;

    .profile_list {
        padding: 10px 0;
        list-style: outside none;

        li {
            cursor: pointer;

            p {
                color: #646464;
                font-size: 15px;
                display: block;
                padding: 5px 15px;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
                font-family: $main_font;
            }

            &:hover {
                background: #6464642b;
            }
        }
    }

    .example-card {
        max-width: 400px;
        border: none;
        animation: dropdownanimate 200ms ease-in;
    }

    .example-header-image {
        background-image: url(../../../../assets/imges/logos/main_logo.png);
        background-size: cover;
    }
}

// Mail block
.mail_block {
    width: 350px;
    max-width: 500px;
    border: none;
    padding: 0;
    float: none;

    .item-header {
        text-align: center;
        background-color: #2ad7c5;
        padding: 20px 25px;
        position: relative;

        h6 {
            text-align: center;
            color: #ffffff;
            font-size: 16px;
            font-family: $header_font;
            font-weight: 700;
        }
    }

    .item-content {
        padding: 20px 25px;

        .media {
            display: flex;
            -ms-flex-align: start;
            align-items: flex-start;

            .item-img {
                position: relative;
                border-radius: 50%;
                background-color: #40dfcd;
                align-items: center;
                justify-content: center;
                display: flex;
                height: 40px;
                width: 50px;

                img {
                    max-width: 100%;
                    height: 35px;
                    vertical-align: middle;
                    border-style: none;
                    width: 30px;
                }
            }

            .media_body {
                margin-left: 15px;

                .media-item-title {
                    margin-bottom: 4px;
                    display: block;

                    p {
                        font-size: 12px;
                    }

                    .item-name {
                        font-size: 14px;
                        font-weight: 600;
                        color: #444444;
                        display: inline-block;
                    }

                    .item-time {
                        float: right;
                        font-size: 14px;
                        font-weight: 600;
                        color: #444444;
                    }
                }
            }
        }
    }
}

::ng-deep .notify_menu {
    min-width: 275px !important;
    border: none;
    top: 51px;
    animation: dropdownanimate 200ms ease-in;

    .item-header {
        text-align: center;
        background-color: #ff3131;
        padding: 20px 25px;
        border-radius: 4px 4px 0 0;
        position: relative;
        color: #ffffff;
    }

    .mat-menu-item {
        margin-top: 15px;
    }

    .icon {
        background: #40dfcd;
        border-radius: 50%;
        /* padding: 11px; */
        padding: 13px 0;
        text-align: center;

        .mat-icon {
            margin-right: 10px;
            vertical-align: middle;
            /* text-align: justify; */
            margin-left: 10px;
            color: #ffffff;
            margin-bottom: 5px;
        }
    }

    .icon_content {
        margin-left: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #444444;
        font-family: $main_font;
    }
}

::ng-deep .mail {
    overflow: hidden !important;
    border: none;
    border-radius: 0px !important;
    max-width: 350px !important;
}