<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="logo">
      <img src="assets/imges/logos/main_logo.png" alt="">

    </mat-toolbar>
    <!-- <mat-nav-list class="anchor_link">
      <a routerLinkActive="active" mat-list-item routerLink="/home/dashboard">
        <img src="../../../../assets/imges/icons/dashboard.svg" alt=""> Dashboard
      </a>
      <a mat-list-item routerLink="/home/bookings" routerLinkActive="active">
        <img src="../../../../assets/imges/icons/gear.svg" alt="">Settings
      </a>
      <a mat-list-item routerLink="/home/calendar" routerLinkActive="active">
        <img src="../../../../assets/imges/icons/gear.svg" alt="">Calendar
      </a>
      <a mat-list-item routerLink="/home/bookings" routerLinkActive="active">
        <img src="../../../../assets/imges/icons/hr-icon.svg" alt="">Hr & Payroll
      </a>
      <a mat-list-item routerLink="/home/bookings" routerLinkActive="active">
        <img src="../../../../assets/imges/icons/classroom.svg" alt="">Class Rooms
      </a>
      <a mat-list-item routerLink="/home/bookings" routerLinkActive="active">
        <img src="../../../../assets/imges/icons/management.svg" alt="">Management
      </a>
      <a mat-list-item routerLink="/home/bookings" routerLinkActive="active">
        <img src="../../../../assets/imges/icons/education.svg" alt="">Schools
      </a>
    </mat-nav-list> -->
    <mat-nav-list class="anchor_link">
      <div *ngFor="let menuGroup of menuList">
        <div *ngIf="menuGroup.menus.length == 0">
          <a mat-list-item class="line" routerLinkActive="active" [routerLink]="['/'+menuGroup.group.route]">
            <img src="{{menuGroup.group.image}}" alt=""> <span>{{ menuGroup.group.name  }}</span>
          </a>
        </div>
        <div *ngIf="menuGroup.menus.length > 0"
          [ngClass]="{'group-menu-selected': menuGroupSelected==menuGroup.group.route}">
          <a mat-list-item class="line" (click)="selectMenu(menuGroup.group)">
            <mat-icon>{{menuGroupSelected==menuGroup.group.route? 'keyboard_arrow_down': 'keyboard_arrow_right'}}
            </mat-icon>
            <span>{{ menuGroup.group.name }}</span>
          </a>
          <div *ngIf="menuGroupSelected==menuGroup.group.route">
            <a *ngFor="let menu of menuGroup.menus" mat-list-item class="line" routerLinkActive="active"
              [routerLink]="['/'+menuGroup.group.route+'/'+menu.route]">
              <span>{{ menu.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content_container">
    <mat-toolbar class="header_cont">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="row">

      </div>
      <div class="notify_block">
        <div class="email_img">
          <img src="assets/imges/icons/serach.svg" alt="">
        </div>
        <div class="email_img">
          <img [matMenuTriggerFor]="emailMenu" src="assets/imges/icons/mail_notify.svg" alt="">
        </div>
        <div class="notify_img">
          <img [matMenuTriggerFor]="alertMenu" src="assets/imges/icons/notification.svg" alt="">
        </div>
        <div class="user_field" [matMenuTriggerFor]="signOut">
          <span class="user_msg">Hi, </span>
          <span class="user_name"> Ajay </span>
          <!-- <img [matMenuTriggerFor]="signOut" src="../../../../assets/imges/icons/user.svg" alt=""> -->
        </div>
      </div>
      <div class="menu_block">
        <mat-menu #alertMenu="matMenu" class="notify_menu">
          <div class="item-header">
            <h6 class="item-title">05 Messages</h6>
          </div>
          <p mat-menu-item><span class="icon"><mat-icon>done</mat-icon></span> <span class="icon_content">Alert 1</span></p>
          <mat-divider></mat-divider>
          <p mat-menu-item><span class="icon"><mat-icon>done</mat-icon></span> <span class="icon_content">Alert 1</span></p>
        </mat-menu>
        <mat-menu #emailMenu="matMenu" class="mail">
          <div class="mail_block">
            <div class="item-header">
              <h6 class="item-title">05 Messages</h6>
            </div>
            <div class="item-content">
              <div class="media">
                <div class="item-img bg-skyblue author-online">
                  <img src="../../../../assets/imges/icons/mail.svg" alt="img">
                </div>
                <div class="media_body">
                  <div class="media-item-title">
                    <a href="#">
                      <span class="item-name">Maria Zaman</span>
                      <span class="item-time">18:30</span>
                    </a>
                    <p>What is the reason of buy this item. Is it usefull for me.....</p>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="item-img bg-skyblue author-online">
                  <img src="../../../../assets/imges/icons/mail.svg" alt="img">
                </div>
                <div class="media_body">
                  <div class="media-item-title">
                    <a href="#">
                      <span class="item-name">Maria Zaman</span>
                      <span class="item-time">18:30</span>
                    </a>
                    <p>What is the reason of buy this item. Is it usefull for me.....</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-menu>
        <mat-menu #signOut="matMenu">
          <div class="signout_menu">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> Ajay Kumar Reddy</mat-card-title>
                <mat-card-subtitle>School Admin</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="profile_list">
                  <li>
                    <p> My profile</p>
                  </li>
                  <li>
                    <p> Account settings</p>
                  </li>
                  <li routerLink="/login">
                    <p> Sign Out </p>
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let menuGroup of menuList">
        <div *ngIf="menuGroup.menus.length == 0">
          <a mat-list-item class="line" routerLinkActive="active" [routerLink]="['/'+menuGroup.group.code]">
            <span>{{ menuGroup.group.name  }}</span>
          </a>
        </div>
        <div *ngIf="menuGroup.menus.length > 0"
          [ngClass]="{'group-menu-selected': menuGroupSelected==menuGroup.group.code}">
          <a mat-list-item class="line" (click)="selectMenu(menuGroup.group)">
            <mat-icon>{{menuGroupSelected==menuGroup.group.code? 'keyboard_arrow_down': 'keyboard_arrow_right'}}
            </mat-icon>
            <span>{{ menuGroup.group.name }}</span>
          </a>
          <div *ngIf="menuGroupSelected==menuGroup.group.code">
            <a *ngFor="let menu of menuGroup.menus" mat-list-item class="line" routerLinkActive="active"
              [routerLink]="['/app/'+menuGroup.group.code+'/'+menu.code]">
              <span>{{ menu.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ng7-menu-sidenav</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->