<div class="container-fluid main_block">
    <div class="login_block">
        <form class="login_form">
            <div class="title">
                <h2>Logo</h2>
            </div>
            <div class="input_block">
                <label for="email">Email</label>
                <input type="email" name="" >
            </div>
            <div class="input_block">
                <label for="password">Password</label>
                <input type="password" name="">
            </div>
        </form>
        <div class="btn_actions">
            <button type="button" class="login-btn">Login</button>
            <button type="button" class="submit-btn">Sign Up</button>
        </div>
    </div>
</div>