<div class="main_block1">
    <div class="login_wraper">
        <div class="login__container">
            <div class="login__logo">
                <img src="../../../assets/imges/logos/white_logo.png" alt="">
            </div>
            <div class="login__signin">
                <div *ngIf="!isnewUser">
                    <h3 class="login__title">Sign In To Admin</h3>
                    <form [formGroup]="loginForm">
                        <div class="input-group">
                            <input type="text" placeholder="Enter email" formControlName="email">
                        </div>
                        <div class="input-group">
                            <input type="password" class="pass" placeholder="Enter password" formControlName="password">
                        </div>
                        <div class="login__extra">
                            <div class="col align-right">
                                <a>Forgot Password ?</a>
                            </div>
                        </div>
                        <div class="login__actions">
                            <button type="button" (click)="existingUser()">Sign In</button>
                        </div>
                    </form>
                    <div class="sign_up_switch">
                        <div class="login__account-msg">
                            <span>
                                Don't have an account yet ?
                            </span>
                            &nbsp;&nbsp;
                            <span class="sign-up" (click)="newUser()">Sign Up</span>
                        </div>
                    </div>
                </div>

                <!-- sign Up -->
                <div *ngIf="isnewUser">
                    <h3 class="login__title">Sign Up</h3>
                    <form [formGroup]="signUpForm">
                        <div class="input-group">
                            <input type="text" placeholder="Enter name" formControlName="user_name">
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="Enter School Name" formControlName="school_name">
                        </div>
                        <div class="input-group">
                            <input type="email" placeholder="Enter email" formControlName="email">
                        </div>
                        <div class="input-group">
                            <input type="password" placeholder="Enter password" formControlName="password">
                        </div>
                        <div class="input-group">
                            <textarea type="text" placeholder="Enter School Address" formControlName="school_address"></textarea>
                        </div>
                        <div class="login__actions">
                            <button type="button" (click)="postSignUp()">Sign Up</button>
                        </div>
                    </form>
                    <div class="sign_up_switch">
                        <div class="login__account-msg">
                            <span>
                                Already have an account Sign In
                            </span>
                            &nbsp;&nbsp;
                            <span class="sign-up" (click)="newUser()">Sign In</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>